@use "preparedCode";
@use "var";

.container{
    @extend %displayFlexCenter;
}

.header__subtitle{
    font: var.$headerTextSubtitleSize;
    color: var.$headerSubtitle;
    margin-bottom: 15px;
    text-align: center;
}

.header__title{
    font: var.$headertTextTitleSize;
    color: var.$headerTitle;
    margin-bottom: 50px;
    text-align: center;
}

.divider-icon{
    margin-bottom: 50px;
}

.divider-line{
    max-width: 420px;
    border-top: 1px solid var.$borderColor;

}

.divider-svg{
    position: relative;
    top: -10px;
    z-index: 1;
    margin: 0 auto;
}

