@use "var";


%displayFlexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

%displayGrid{
    display: flex;
    max-width: 1170px;
    width: 100%;
    flex-wrap: wrap;
    gap:1px;
    background-color: var.$sliderBackground;
}

%sliderArea{
    @extend %displayFlexCenter;
    max-width: 584.5px;
    width: 100%;
    max-height: 560px;  
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    background: var.$mainBackground;
}

@media (max-width: 1440px){
    %displayGrid, %sliderArea{
        background: var.$mainBackground;
    }
}
