@use "preparedCode";
@use "var";



.slider{
    @extend %sliderArea;
}


// .additional-border{
//     position: absolute;
//     top: 0;
//     right: 500px;
//     max-width: 430px;
//     max-height: 430px;
//     height: 100%;
//     border: 1px solid black;
// }





.box{
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
    z-index:0;

}

.box-1{
    right: 1125px;
    top: 385px;
    border-top: 1px solid var.$borderColor;
    border-left: 1px solid var.$borderColor;
}

.box-2{
    right: 1125px; 
    top: 722px;
    border-left: 1px solid var.$borderColor;
    border-bottom: 1px solid var.$borderColor;
}

.box-3{
    right: 785px;
    top: 385px;
    border-top: 1px solid var.$borderColor;
    border-right: 1px solid var.$borderColor;
}

.box-4{
    right: 785px; 
    top: 722px;
    border-right: 1px solid var.$borderColor;
    border-bottom: 1px solid var.$borderColor;
}