
// Fonts-style



// Font-colour

$mainColour: #666666;

$headerSubtitle: #898F8F;
$headerTitle: #FFCC00;

$social-link: #CCCCCC;
$myInformation: #333333;


//Background

$mainBackground: #fff;
$sliderBackground: #FFCC00;

//Text-size

$headerTextSubtitleSize: 500 18px / 24px 'Raleway-500',sans-serif;
$headertTextTitleSize: 900 60px / 66px"Roboto-900", sans-serif;

$myName: 900 36px / 42px "Roboto", sans-serif;
$myPosition:400 24px / 36px "Raleway", sans-serif;
$myInformation: 500 14px / 24px "Raleway", sans-serif;

$mySocialLinksText: 700 14px / 14px 'OpenSans-bold', sans-serif;

//Border-color

$borderColor: $headerTitle;

//margin

$marginBottom: 30px;